.log {
  height: auto;
  background: rgb(30, 30, 30);
}

.log-stamp, .log-item {
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
}

.log-stamp {
  color: rgb(37, 144, 144);
}

.log-stamp::after {
  content: ": ";
}

.log-item {
  color: orange;
}

.log-item::before {
  content: "";
}